<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<table class="table table-hover table-striped  text-center">
		<thead>
			<tr style="background-color: #EFEFEF">
				<th>序号</th>
				<th>奖惩</th>
				<th>学生名称</th>
				<th>创建人</th>
				<th>描述</th>
			</tr>
		</thead>
		<tbody th:remove="${details.size()==0?'none':'all-but-first'}">
			<!-- temp,iter:${#numbers.sequence(2,50,1)} 固定 -->
			<tr th:each="temp,iter:${details}">
			    <td th:text="${iter.count}"></td>
				<td th:text="${temp.name}"></td>
				<td th:text="${temp.stuname}">静态系统消息1</td>
				<td th:text="${temp.createbyname}">静态系统消息1</td>
				<td th:text="${temp.des}">静态系统消息1</td>
			</tr>
			<tr>
				<th colspan="5" style="color:red">没有找到数据！</th>
			</tr>
		</tbody>
	</table>
</body>
</html>